/* Global Layout Set-up */
.full {
  background-color: #44B3C2;
}
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #4a4a4a;
  background: #fff;
}

header, .about, main, .contact, footer {
    margin: auto;
  }

h1 {
  font-family: 'Lobster', cursive;
}

h2 {
  font-size: 1.3rem;
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-weight: normal;
  font-family: 'Lobster', cursive;
  font-size: 1.6rem;
}

p {
  color: #999;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #999;
  transition: all .5s;
}

/* Section Styles */

header {
  text-align: center;
  padding-top: 20px;
}

header {
  line-height: 1.5;
}

.head-name {
  padding: 0px;
  margin-top: 14px;
  margin-bottom: 0px;
  line-height: 1.2rem;
}

.main-nav {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  text-align: center;
}
.nav {
  font-weight: 700;
  list-style-type: none;
  margin: 10px auto;
  padding: 10px 0 10px 0;
}

.nav li {
  display: block;
}

.nav a, .overlay-link {
  background-color: #fff;
  color: #4a4a4a;
  padding: 10px;
  border-radius: 0px;
  display: block;
  margin: 5px auto;
  transition: all .5s;
  text-transform: uppercase;
} 

.nav a:hover, .overlay-link {
  color: #fff;
  background-color: #F1A94E;
}

.profile {
  margin: 5% 1%;
  padding: 10px;
  margin-bottom: 50px;
}

.profile-image {
  padding: 20px;
  max-width: 90%; 
  margin: auto;
  transition: all .5s;
}

.profile-image:hover {
  transform: scale(1.1);
  transition: all .5s;
}

/*************
PORTFOLIO
*************/

main {
  padding-top: 20px;
  background: #7B8D8E;
}

.single-project {
  margin: 5% auto;
  padding: 10px;
  max-width: 500px;
  text-align: center;
  background: #F2EDD8;
  cursor: pointer;
}

.full-img {
  max-width: 100%;
  height: auto;
}

#portfolio-wrap {
  flex-wrap: wrap;
  justify-content: center;
}

#portfolio-wrap h2 {
  flex-basis: 100%;
}

#portfolio-wrap .single-project {
  flex-basis: 100%;
}

/*************
MODAL POP UPS
*************/

#overlay-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

/*.overlay-wrapper:after {
  opacity: 0.5; 
}*/

#overlay-content {
  width: 75%;
  min-width: 300px;
  background: #F2EDD8;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(10, 10, 10, 0.5);
  opacity: 1; 
  text-align: center;
  margin: 5px auto;
}

#overlay  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 300px;
  padding: 10px 80px 30px 80px;
  text-align: center;
}

#overlay hr {
  height: 1px;
  background: #ccc;
  width: 100%;
  border: none;
}

#overlay p {
  margin: 5px;
  font-size: 1rem;
  line-height: 1.7rem;
}

#overlay .employee-name {
  font-size: 1.2rem;
  margin: 10px;
}

#overlay #close {
  cursor: pointer;
  margin: 0; 
  opacity: 0.4;
  transition: all 200ms;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  color: #000; 
  margin-left: 10px;
  text-align: right;
}

#overlay #close:hover {
  opacity: 1;
}

#overlay .avatar {
  width: 100%;
  height: auto;
  margin: auto;
}

#next, #previous {
  color: #ccc;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  opacity: .5;
  transition: opacity .5s;
  z-index: 100;
}

#next:hover, #previous:hover {
  cursor: pointer;
  opacity: 1;
}

#next{
  left: 85%;
}

#previous{
  right: 85%;
}

/*****************
FOOTER
******************/


.foot-nav .nav a {
  margin: 0px;
  padding: 0;
  background: inherit;
  transition: all .5s;
}

footer {
  width: 90%;
  min-height: 30px;
}

.contact p {
  margin: 1rem auto;
}

.contact a {
  color: #999;
  font-weight: bold;
}

svg {
  display:inline-block;
  max-width: 50px;
  max-height: 50px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: .5rem;
  fill: #999;
  transition: transform .4s;
  margin-bottom: -5px;
}

.contact a:hover {
  color: #4a4a4a;
}

.foot-nav {
  padding-top: 20px;
}

.foot-nav .nav {
  float: right;
  padding: 0;
}

.foot-nav .nav li {
  padding: 0 0 0 20px;
}

.foot-nav .nav a {
  margin: 0px;
  padding: 0;
  background: inherit;
}

.foot-nav .nav a:hover {
  color: #000;
}

.foot-nav .big-nav {
  display: none;
}

.foot-nav .name {
  float: left;
  text-transform: none;
  font-weight: normal;
  margin: 5px 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



/*****************
Styles for tablets
******************/

@media screen and (min-width: 768px) {

  .profile, #portfolio-wrap, .main-nav {
    padding: 3% 5%;
  }
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  .nav li {
  padding-top: 5px; 
  padding-bottom: 10px;
  display: inline-block;
  width: auto;
  }

  .nav a {
  border-radius: 5px;
  background: transparent;
} 

  .profile {
    flex-direction: row-reverse;
  }

  .profile-image {
      padding: 0;
  }

  .intro {
      margin-right: 40px;
      text-align: left;
      margin-top: 0px;
  }

  main p {
    line-height: 1.6rem;
  }

  #portfolio-wrap h2 {
    margin-bottom: 40px;
  }

  #portfolio-wrap .single-project {
  flex-basis: 50%;
  margin: 0;
  }

  #overlay-content {
    width: 70%;
  }

  header, footer {
    font-size: 1.2rem;
  }

  .top-nav {
    display: none;
  }
  
  #next, #previous {
  color: #fff;
  } 

  #next{
  left: 90%;
  }

  #previous{
    right: 90%;
  }

  footer p {
  max-width: 60%;
  margin: 1rem auto;
  }

  .foot-nav .big-nav {
  display: inline-block;
  }

  .foot-nav .top-nav {
  display: none;
  }

}

/*****************
Styles for desktop 
******************/

@media screen and (min-width: 1024px) {
  header, .about, .contact, main, footer {
    max-width: 1000px;
  }

  .head-name {
    float: left;
  }

  .main-nav .nav {
    float: right;
    margin: 0;
    padding: 0;
  }

  .profile, #portfolio-wrap, .main-nav {
    padding: 3% 0%;
  }
  
  #portfolio-wrap .single-project {
  flex-basis: 30%;
  margin: 10px 1.5%;
  }

  #overlay-content {
    width: 60%;
  }
}